body {
	padding-left: 40%;
	padding-top: 8%;
	background-image: url("../img/background_home.jpg");
	background-size: auto;
	background-attachment: fixed;
    background-position: center; 
}

form {
	background-color: rgba(255, 255, 255, 0.4);
	padding-bottom: 0.5%;
	padding-top: 2%;
	width: 30%;
	border: 1px solid rgba(255, 255, 255 0.4);
	border-radius: 2%;
}

input {
	width: 2%;
}

h1 {
	color: #2081bd;
}

.change {
	padding-top: 3%;
	font-style: italic;
	font-size: 14px;
}