/* Login & Register */
body.signinPage {
	background-image: url("/Twitter/public/img/background_home.jpg");
	background-size: auto;
	background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.signinPage form {
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255 0.4);
	border-radius: 2%;
}

.signinPage h1 {
	color: #2081bd;
}

.signinPage .change {
	font-style: italic;
	font-size: 14px;
}


/* Other Pages */
nav {
	width: 100%;
	padding-right: 20%;
	padding-left : 20%;
	background-color: #f2f2f2;
}

.main {
	margin-top: 1%;
}

.navbar {
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
}

.content-main {
	height: auto;
	background-color: #f2f2f2;
	float: right;
	width: 33%;
	margin-left: 35%;
	position: absolute;
}

.tweet {
	min-height: 80px;
}
.left-bar {
	background-color: #f2f2f2;
	min-height: 200px;
}

.left-tags {
	margin-top: 7%;
	background-color: #f2f2f2;
	min-height: 400px;
}

.side {
	float: left;
	margin-left: 20%;
	width: 13%;
}

.side li {
	padding-left: 5%;
}

.icon {
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%;
	width: 25%;
}

.icon-tweet {
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%;
	width: 10%;
}

.tags {
	border-color: white;
}

#charLeft {
	font-style: italic;
	font-size: 12px;
	color: grey;
}

#firstname {
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
}

#register_date {
	font-size: 10px;
}

.message-content-received {
	height: 250px;
	overflow-y: scroll;
}