body {
	background-image: url("/Twitter/public/img/background_home.jpg");
	background-size: auto;
	background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
}

form {
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255 0.4);
	border-radius: 2%;
}
h1 {
	color: #2081bd;
}

.change {
	font-style: italic;
	font-size: 14px;
}

